
/*
*
* Import Ralewy google font
*
*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/*
*
* Global Varaibles
*
*/
$mainColor:#273042;
$fontColor:#666;
$Raleway:"Raleway";
$whiteColor: #f4f4f4;
.box-shadow{
	box-shadow:0 0 10px #ccc;
}
@mixin box-shadow($box-shadow) {
 box-shadow:$box-shadow;
 -moz-box-shadow:$box-shadow;
 -webkit-box-shadow:$box-shadow;
 -ms-box-shadow:$box-shadow;
 -o-box-shadow:$box-shadow;	
}
.home{
	@media (min-width: 768px) {
		overflow: hidden;
	}
}

/*
*
* Header Styles
*
*/
.header{
	@media (min-width: 768px){
	overflow: hidden;
	height: 500px;	
	}

    background-image: url("../images/background.png");
	background-position: center;
	background-size: cover;
	
	position: relative;
	
     /* overlay */
	.overlay{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(39, 48, 66, 0.66);
	box-shadow:2px 100px 69px #273042 inset, -2px -100px 69px #273042 inset;
	}

	/* first section */
	.first{
		@media (min-width: 768px){
          	margin:1em 0;
          	}
          	// Ipad
	 @media(min-width:768px)and(max-width:1024px){
      img{
      	width: 12em;
      }
	 }
     .logo{
	h3{
    margin-left: 9px;
	text-transform: uppercase;
    color: #fff;
    font-family: 'Oleo Script', cursive;
    font-size: 2.5em;
    font-weight: bold;
	span{
	color: #e23943;
	font-weight: bold;
	}
	   /* For Mobile */
		@media (max-width: 768px){
		
		display: flex;
		justify-content: center;
		padding: 1em;
		font-size: 3em;
		margin-right: 2em;
		}
		@media(min-width:768px)and(max-width:1024px){
         padding-left: 3em;
         margin-top: -51px;
	    }
	}
    
	}
	img{
	width: 12em;
	height: 12em;
	border: 2px solid #fff;
	max-width: 100%;
	max-height: 100%;
	border-radius: 50% !important;
	margin: 3em 1em !important;


	/* in Mobile */
	@media (max-width: 768px){
	width: 18em;
	height: 18em;
	display: flex;
	margin: auto !important;

	}

	/* IPad */
	@media(min-width:768px)and(max-width:1024px){
		width: 11em;
		height: 11em;
		position: relative;
		top: 3em;
		left: 2em;
	    }
	
		}
		
	
	}


	/* Brows */
	.browse{
		display: none;
		@media (min-width: 768px){
		margin: 1em;
		position: relative;
		display: block;
	}
	a{
	text-decoration: none;
	color:$whiteColor;
	margin-left: 8em;
	i{
	 position: relative;
	 top: 10px;	
	}
	}
	.dropdown-menu{
	background: #273042;
	top: 28px;
	position: absolute;
	display: block;
	left: 11em;
	top: 2.5em;
	padding: 1em;
	li{
		margin-bottom: 1em;
		a{
		transition: all .1s ease-in-out;
		font-family: $Raleway;
		margin-left: 0 !important;
			&:hover{
			padding-left: 2px;
			color:#C0C5CD; 
			background: #273042;
			}
		}
	 }
		
	 }
		
   
	}


  /* header_top_right */

	.header_top_right{
		display: none;
		@media (min-width: 768px){
			  padding: 14px 1px;
			  display: block;
			  float: right;
        }
	a{
		color: #C0C5CD;
		font-size: 16px;
		font-weight: normal;
		font-family: 'Josefin Slab', serif;
	}
	i{
		color: #fff;
		margin-right: 5px;	
	}
	img{
		width: 3em;
		height: 3em;
		margin-right: 5px;
		margin-left: 10px;
		border-radius: 50%;
	}
	.dropdown-menu{
		background: #273042;
		display: block;
		padding: 1em;
		position: absolute;
		top: 4em;
		left: 16em;
		@media (min-width: 768px)and (max-width: 1024px) {
			left: 1em !important;
		}

		li{
		margin-bottom: .5em;
		a{
		transition: all .3s ease-in-out;
		font-family: $Raleway;
		text-decoration: none !important;
		font-size: 14px;
		
	&:hover{
		padding-left: 5px;
		color:#C0C5CD; 
		background: none;
	}
	.pill{
		background: #f4f4f4;
		color:#273042;
		border-radius: 50%;
		padding: 5px;
		width: 2em;
		height: 2em; 
	}
	}	
		}	

	}
	

	 
	}
    
 /* menu lancher */
	.menu_lancher{
     @media (min-width: 768px) {
     	display: none;
     }
		position: relative;
		left: 19em;
		bottom: 41.5em;
	span{
    i{
		color:#f4f4f4;
		font-size: 3em;
    }
	}
	
	}	


    /* .header_description */

	.header_description{
		@media (min-width: 768px) {
		 padding:7em 2em;
        }
         padding: 1em 3em;
		/* Title  */

		.title{
		  
		h3{
			color: #E7E9DE;
			font-family: $Raleway;
			font-size: 47px;
			letter-spacing: 2px;
			word-spacing: 5px;
		}
		}

		p{
			color:#E7E9DE;
			font-family: $Raleway;
			
		}
		span{
			color:#E7E9DE;
			font-family: $Raleway;
			
		}	
		
		

		}


		/* btn Follow */
		.btn_follow{
			display: flex;
			justify-content: center;
			position: relative;
			padding: 2em;
			@media (min-width:768px) {
			 display: flex;
			justify-content: flex-end;
			position: relative;
			top: 13em;
			right: 1em;
			}
			.btn-default{
			background: #e23943 ;
			margin-right: 1em;
			color: #fff;
			outline: none;
			font-family: 'Raleway', sans-serif;
			width: 100px; 
			border: 0;
			border-radius: 20px;
			transition: all .3s ease-in-out;
			&:hover{
			background: #c12530;
			}
			}
			
			i{
				color: #E7E9DE;
				border: 1px solid #E7E9DE;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				/* padding: 5px 7px; */
				padding: 3px 2px;
				font-size: 2em;
				
			}	
			
			
		} 


/* Navbar */
.navs{
     @media (min-width: 768pz) {
     padding: 1em 0em;	
     }	
	  @media (max-width: 768px) {
	   display: none;	
	  }
	a{
		color:$whiteColor;
		font-family: $Raleway;
		text-transform: uppercase;
		font-size: 20px;
		transition: all .3s ease-in-out;
		&:hover{
			color: #e23943 !important;
			border-bottom: 3px solid #e23943;
			text-decoration: none;
		}
	}
	.popular{
		width: 8em;
		overflow: hidden;
		margin-left: 1em;
	}
	.list-inline{
		.nav-link{
	     transition: all .3s ease-in-out;
		 color:$whiteColor;
		font-family: $Raleway;
		text-transform: uppercase;
		font-size: 20px;	
		}
	}
}		

/* header mobile */
.header-mobile{
	@media (min-width: 768px) {
		display: none;
	}
	@media (max-width: 768px) {
		
	}
	 padding: 2em;
     background: $mainColor;
    position: absolute;
    right: 0;
    z-index: 2;
    height: 100%;
    
    i{
    color: #f4f4f4;
    font-size: 3em;
    }
    .avatar{
			display: flex;
			justify-content: center;
    	img{
			width: 10em !important;
			height: 10em !important;
			border-radius: 50%;
    	}
    }
    .note{
			background: #e33943;
			margin: 1em 0;
			padding: 1em;
     i{
			color: $whiteColor;
			margin: 0px 14px;
    }	
    }
    .navs{
    	display: block;
    	ul{
    		min-width: 100%;
    		li{
    			width: 100% !important;
    		}
    	}
    }
    
}

 
}/* End header */


/*
*
* Product Styles
*
*
*/
 .main_page{
 	padding: 2em;
 .product{
margin-bottom: 20px;

	.item{

		height: 287px;
		transition: all .3s ease-in-out;
        position: relative;
		/* Ipad */
	    @media(min-width:768px)and(max-width:1024px){
		
		height: 165px;
	    }
		&:hover .overlay
		{
		display: block;
		}
	.overlay{
		position: absolute;
		width: 100%;
		height: 287px;
		background-color: rgba(20, 16, 16,0.57);
		display: none;
		transition: all .3s ease-in-out;
		border-radius: 6px;

		/* in Mobile */
		@media (max-width: 768px) {
			width: 100%;
			height: 100%
		}
		
	}
	.controls{
		position: absolute;
		top: 50%;
		left: 32%;
		a{
			position: absolute;
			z-index: 3;
			
			i{
				color: #f4f4f4;
				font-size: 50px;
			}
		}
		.right{
			    left: 11.5em;
		}
		.left{
			left: -28px;
		}
	}
		i{
			position: absolute;
			color: #fff;
			font-size: 30px;
			cursor: pointer;
			right: 0;
			margin: 10px;
			font-size: 2em
		}
		img{
			width: 100%;
			border-radius: 6px;
			height: 100%;
		    object-fit: cover;
		}

	}
	.reviews{
	h4{
		font-family: $Raleway;
		color: #000;
		cursor: pointer;
		&:hover{
			color:#e23943;
		}
		@media (min-width: 768px)and (max-width: 1024px) {
			font-size: 1em;
		}
		i{
		color:#FFCD38;		
		}
		span{
			color:#FFCD38;
		}
	}
	span{
	font-family: $Raleway, sans-serif;
		
	}
	}
	}

	/* map */
	.map{
		position: relative;
		overflow: hidden;
		img{
			height: 100%;
			width: 100%;
			object-fit:cover;

		}
		.form-search{
			position: absolute;
			width: 100%;
			.btn-group{
				position: relative;
				top: 1em;
				left: 1em;
				@media (min-width: 768px)and (max-width: 1024px) {
				    left: 4px;
				}
				.btn-default{
					background: #fff;
					display: block;
					color:$fontColor;
					@include box-shadow(0 0 6px #ccc);
				}
			}
			.form-control{
				position: relative;
				right: -73px;
				bottom: 4em;
				border-radius: 29px;
				color: $fontColor;
				width: 19em;
				padding: 1em;
				font-family: $Raleway;
				@media (max-width: 768px) {
				width: 100%;	
				}
				@media (min-width: 768px)and (max-width: 1024px) {
				width: 10em;
				right: -3em;
				}
				&:focus{
					outline: none !important;
					border:0 !important;
					@include box-shadow(0 0 10px #ccc);
				}
			}
			input[type=text]::placeholder{
				color: #666;
				font-family: $Raleway;
				font-size: 14px;
			}
		}
		.markers{
			position: relative;
		
			@media (max-width: 768px) {
			 position: relative;	
			}
			img{
				
				width: 3em;
				height: 3em;
				
			}
			span{
				position: absolute;
				&:nth-child(1){
					right: 0;
					top: 9em;
				}
				&:nth-child(2){
					right: 1em;
					top: 14em;
				}
				&:nth-child(3){
					left: 0;
					top: 17em;
				}
				&:nth-child(4){
					right: 9em;
					top: 33em;
				}
			}
		}
	}	
 } 

/*
*
* start footer style
*
*
*/
.footer{
	background:#273042;
	height: 200px;
	padding: 40px 0;
	.logo{
		h3{
		text-transform: uppercase;
		color: #fff;
		font-size: 40px;
		font-family: 'Oleo Script', cursive;
		}
			span{
			color: #e23943;
			font-weight: bold;

			}
	} 

}


/*End footer style*/


/* detail page style */
.details{
	width: 100%;
 .product{
 	img{
 		width: 100%;
 		border-radius: 6px;
 	}
 }

 /* product detail */
 .product-detail{
	background: #ffffffa3;
	position: relative;
	@include box-shadow(0 0 10px #ccc);
	width: 70%;
	margin-left:(30%) / 2;
	z-index: 2;
	bottom: 13em;
	border-radius: 6px;
	padding: 2em;
	@media (max-width: 768px) {
		padding: 1em;
		bottom: 0;
		width: 100%;
		margin: 0 auto;
		p{
		font-size:10px;
		}
	}
	.controls{
		display: flex;
        padding: 1em;
        background: #fff;
        margin: 1em;
		h4{
			font-family: $Raleway;
			i{
		    color:#FFCD38;
		  	}
		  span{
		  	color:#FFCD38;
		  }
		}
		.heart{
		font-family: $Raleway;
		margin-left: 1em;
		i{
			color: #e23943;	
		}
		}
	}
	h4{
	font-family: $Raleway;	
	}
	p{
		
		font-family: $Raleway;
	}
	.input-group-prepend{
		margin-bottom: 1em;
		.form-control-sm{
			width: 4em;
			&:focus{
				box-shadow: 0;
			}
		}
		.input-group-text{
		height: 3em;
		font-size: 14px;
		color: #f4f4f4;
		background: #e33943;
		font-family: $Raleway;
		}
	}
	
	.btn-default{
	background:	#e23943;
	color: $whiteColor;
	font-family: $Raleway;
	&:focus{
		@include box-shadow(0 0 10px #e23943);
	}
	}
 }
}


